.h1-colet {
    top: 10vh;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3.5rem;
    margin: 1rem;
    cursor: default;
    text-shadow: var(--shadow);
    font-family: var(--font-Default);
}

.card {
    margin: auto;
    top: 10vh;
    cursor: pointer;
    background: none;
    border: 1px solid var(--clr-text-dark);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 1rem;
}

.card:hover {
    border: 4px ridge var(--clr-secundary);
    box-shadow: var(--shadow);
}

.cards h3:hover  {
    color: var(--clr-secundary);
}

.cards {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.container-colete{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 300px);
}

.container-colete h1 {
    font-size: 2rem;
    color: var(--clr-text-light);
    text-shadow: var(--shadow);
}

.container-colete h1:hover {
    color: var(--clr-secundary);
}